* {
    font-family: 'Playfair Display';
}

body {
    background-color: #FDF9F6;
    color: #482738;
}

p,
li {
    font-size: 18px;
}

#header {
    border-bottom: 2px solid #CBA1BE;
    padding: 15px;
}

.navbar {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    display: flex; /* Ensure horizontal layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Push nav-left to left and nav-right to right */
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

ul.navbar li:first-child {
    margin-right: auto;
}

ul.navbar li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-transform: lowercase;
    padding: 0;
}

.navbar li a:hover, .logout-button:hover {
    text-decoration: underline;
}

a:visited {
    color: #482738;
}

.active a {
    color: #CBA1BE;
}

.profbtn {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    text-decoration: none;
}
  
.profile-dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .logout-form:hover {background-color: #f1f1f1}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -500px; /* hidden initially */
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 1050;
    overflow-y: auto;
  }
  
  .sidebar.show {
    right: 0;
  }
  
  .close-sidebar {
    cursor: pointer;
    font-size: 24px;
    float: right;
    margin-bottom: 1rem;
  }
  