/* Global Reset and Base Styles */
* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDF9F6;
    color: #482738;
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    transition: grid-template-columns 0.3s ease;
    overflow: hidden;
}

body.sidebar-hidden {
    grid-template-columns: 0 1fr;
}

p,
li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #482738;
}

a:visited {
    color: #482738;
}

a:hover,
.logout-button:hover,
.navbar li a:hover {
    text-decoration: underline;
}

.sidebar {
    height: 100vh;
    padding: 1em;
    background-color: #CBA1BE;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 250px;
    transition: opacity 0.3s ease, width 0.3s ease;
}

body.sidebar-hidden .sidebar {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 0em;
    white-space: nowrap;
}

.sidebar a,
.sidebar .logo {
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: #482738;
    display: flex;
    align-items: center;
    gap: 1em;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
    border-bottom: 2px solid #CBA1BE;
    padding: 1em;
    background-color: #FDF9F6;
}

ul.navbar li:first-child {
    margin-right: auto;
}

ul.navbar li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}

.navbar li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}

.page-content {
    padding: 2em;
    overflow-y: auto;
    flex-grow: 1;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-transform: lowercase;
    padding: 0;
    text-decoration: none;
}

.sidebar ul li.active h3 {
    color: #FDF9F6; /* Light background contrast */
    background-color: #482738; /* Your main color */
    padding: 0.5em 1em;
    border-radius: px;
    font-weight: bold;
}