* {
    font-family: 'Playfair Display';
}

body {
    background-color: #FDF9F6;
    color: #482738;
}

p,
li {
    font-size: 18px;
}

#header {
    border-bottom: 2px solid #CBA1BE;
    padding: 15px;
}

.navbar {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    display: flex; /* Ensure horizontal layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Push nav-left to left and nav-right to right */
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

ul.navbar li:first-child {
    margin-right: auto;
}

ul.navbar li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-transform: lowercase;
    padding: 0;
}

.logout-button:hover, .navbar li a:hover {
    text-decoration: underline;
}

a:visited {
    color: #482738;
}

.active a {
    color: #CBA1BE;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    text-decoration: none;
}