{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user_management/profile.css' %}">
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

<div id="main">

  <section class="profile-grid">

    <div class="profile-content">
      
      <div class="profile-pic-container">
      
        {% if user.profile.profile_picture %}
          <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-pic-large">
        {% else %}
          <img src="{% static 'img/user-icon.png' %}" alt="Default Profile Picture" class="profile-pic-large">
        {% endif %}
      
        <a href="#" class="edit-icon" aria-label="Edit Profile">
          <img src="{% static 'img/edit.png' %}" alt="Edit" class="edit-img">
        </a>

        <div class="action-buttons">
          <a href="#" class="action-btn heart-btn" aria-label="Saved Items">
            <img src="{% static 'img/heart.png' %}" alt="Heart" class="heart-img">
          </a>
          <a href="#" class="action-btn dressing-room-btn" aria-label="Dressing Room">
            <img src="{% static 'img/dressing-room.png' %}" alt="Dressing Room" class="dressing-room-img">
          </a>
        </div>

      </div>
    
    <h2 class="profile-username">@{{ user.username }}</h2>
      <div class="profile-stats">
        <p class="stat-item">followers: {{ user.profile.followers.count }}</p>
        <p class="stat-item">following: {{ user.profile.following.count }}</p>
      </div>
    
    <blockquote class="profile-bio">{{ user.profile.bio }}</blockquote>
    </div>
  </section>
    
  <section class="ootd-section">
    <h3 class="widget-title">ootd</h3>
    <div class="ootd-widget">
        <img
        src="{% static 'img/temp-clothes/dress.png' %}"
        alt="OOTD Image 1"
        class="ootd-image-1"
        />
        <img
        src="{% static 'img/temp-clothes/shoes.png' %}"
        alt="OOTD Image 2"
        class="ootd-image-2"
        />
    </div>
  </section>

  <section class="wishlist-section">
    <h3 class="widget-title">wishlist</h3>
    <div class="wishlist-widget">
      <button class="wishlist-nav-prev" aria-label="Previous wishlist item">
        <img
          src="{% static 'img/nav-left.png' %}"
          alt="previous"
        />
      </button>
      <img
        src="{% static 'img/temp-clothes/wishlistdisplay.png' %}"
        alt="Wishlist Item"
        class="wishlist-main-image"
      />
      <button class="wishlist-nav-next" aria-label="Next wishlist item">
        <img
          src="{% static 'img/nav-right.png' %}"
          alt="next"
        />
      </button>
    </div>

    <h3 class="widget-title">top showrooms</h3>
    <div class="wishlist-widget">

      <img
        src=""
        class="showrooms-section"
      />
    </div>
  </section>
</div>


{% endif %}
{% endblock %}