{% extends 'base.html' %}
{% load static %}

{% block title %} Complete Your Profile {% endblock %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/user_management/profile_setup.css' %}">
{% endblock %}

{% block content %}

<h2 class="setup-heading">Complete Your Profile</h2>

<div class="form-container">
    <form id="profile-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="file-upload" id="upload-wrapper">
            <input type="file" id="profile_picture" name="profile_picture" accept="image/*" hidden>
            <label for="profile_picture" class="upload-label" id="upload-label">
                <img id="profile-preview" class="profile-preview" src="#" style="display: none;" />
                <span id="upload-icon">+</span>
            </label>
        </div>
        

        <div class="text">
            <h5>Add Profile Picture</h5>
        </div>

        <div class="bio-container">
            <label for="{{ form.bio.id_for_label }}" class="input-label"></label>
            {{ form.bio }}
        </div>

        <div class="redirect">
            <button type="submit" class="submit-button">Save</button>
        </div>
        <div class="text">
            <a href="{% url 'user_management:profile' %}" class="skip">skip this step</a>
        </div>
    </form>
</div>

<div id="cropper-modal" style="display:none;">
  <div id="cropper-container">
    <img id="cropper-image" />
    <div class="crop-actions">
      <button type="button" id="crop-button">Crop</button>
      <button type="button" id="cancel-crop">Cancel</button>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="{% static 'js/user_management/profile-setup.js' %}"></script>

    
{% endblock %}