#create-sr-add-outfits {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 70vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #FDF9F6;
}

/* .modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
} */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}