.grid-container {
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
  gap: 16px;
  align-items: center;
  margin-top: 8vh;
}

.thumbnail {
  overflow: hidden;
  text-align: center;
}

.thumbnail.add, .thumbnail img {
  height: 70vh;
  width: 20vw;
}

.thumbnail img {
  border-radius: 12px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.5rem; */
}

.thumbnail.add {
  border-radius: 12px;
  background: #ECE4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #a66b9b;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-label {
  /* font-size: 1rem;
  font-family: "Playfair Display", serif; */
  color: transparent;
  text-align: center;
  
}

.thumbnail.add:hover {
  background-color: #ebdce6;
}

.plus {
  font-size: 3rem;
  font-weight: bold;
}

.arrow-button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a66b9b;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.arrow-button:hover {
  transform: scale(1.2);
}

.arrow-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.thumbnail.pagination-arrow:first-child {
  grid-column: 1;
}

.thumbnail.pagination-arrow:last-child {
  grid-column: 6;
}

.grid-container .thumbnail:not(.pagination-arrow):nth-of-type(2) {
  grid-column: 2;
}
.grid-container .thumbnail:not(.pagination-arrow):nth-of-type(3) {
  grid-column: 3;
}
.grid-container .thumbnail:not(.pagination-arrow):nth-of-type(4) {
  grid-column: 4;
}
.grid-container .thumbnail:not(.pagination-arrow):nth-of-type(5) {
  grid-column: 5;
}