.container {
    display: flex;
}

#main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#column1 {
    width: 350px;
    height: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 3fr 380px 1fr 3fr;
    grid-template-areas:
        "outfitheader outfitheader"
        "layeringpanel collagedropzone"
        ". ."
        "buttoncontainer buttoncontainer"
    ;
    flex-shrink: 0;
}

#outfit-header {
    grid-area: outfitheader;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#layering-panel {
    grid-area: layeringpanel;
    background-color: #ECE4E4;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    outline: 1px solid #ECE4E4;
}

#layering-panel-header {
    background-color: #ECE4E4;
    padding: 5px;
    font-size: 14px;
    font-style: italic;
    color: #7B6A73;
    flex-shrink: 0;
    user-select: none;
}

#layer-thumbnails-area {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.layer-thumbnail {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: white;
    cursor: grab;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}



#collage-dropzone {
    grid-area: collagedropzone;
    background-color: white;
    position: relative;
    overflow: hidden;
    outline: 1px dashed #DFBCD4;
}

.dropped-item {
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

.resizable-draggable {
    position: absolute;
    touch-action: none;
    box-sizing: border-box;
    z-index: 10;
    user-select: none;
}

/* outline when selected */
.resizable-draggable.selected {
    outline: 2px dashed #CBA1BE;
}

/* corner resize handles */
.resize-handle {
    width: 8px;
    height: 8px;
    background-color: #CBA1BE;
    position: absolute;
    border-radius: 2px;
    z-index: 15;
}

/* the top, left, right, and bottom properties let you manually place it relative to the nearest (absolute) positioned ancestor  */
/* -4 px to position the centre of the handle on the edge of the outline */

.resize-handle.nw {
    top: -4px;
    left: -4px;
    cursor: nwse-resize;
}

.resize-handle.ne {
    top: -4px;
    right: -4px;
    cursor: nesw-resize;
}

.resize-handle.sw {
    bottom: -4px;
    left: -4px;
    cursor: nesw-resize;
}

.resize-handle.se {
    bottom: -4px;
    right: -4px;
    cursor: nwse-resize;
}

.drag-over {
    border: 2px solid #F4E6F0;
}

#button-container {
    grid-area: buttoncontainer;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#save-button {
    background-color: #F4E6F0;
    border: none;
    color: #7B6A73;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
}

#save-button:hover {
    background-color: #DFBCD4;
    color: #ffffff;
}



#column2 {
    width: 700px;
    height: 500px;
    text-align: center;
    flex-shrink: 0;
}

#drawer-tabs {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.drawer-tab {
    border: none;
    background-color: #FDF9F6;
    color: #482738;
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    transition: color 0.1s ease-in-out;
    user-select: none;
}

.drawer-tab:hover {
    color: #CBA1BE;
}

.drawer-tab.active {
    border-bottom: solid;
    border-color: #CBA1BE;
}


#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 70%;
    height: 300px;
    margin: auto;
    background-color: #FDF9F6;

}

.grid-item {
    background-color: white;
    border-radius: 8px;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: grab;
}

#footer {
    border-top: 2px solid #CBA1BE;
    padding: 15px;
    text-align: center;
}

.add-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #CBA1BE;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    user-select: none;
}

.add-item-link:hover {
    background-color: #F4E6F0;
    border: none;
    color: #7B6A73;
    cursor: pointer;
}

#caption-tags-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDF9F6;
    border: 1px solid #DFBCD4;
    padding: 20px;
    z-index: 9999;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#caption-tags-modal h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.25em;
    text-align: center;
}

#caption-tags-modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#caption-tags-modal input,
#caption-tags-modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c9bec5;
    border-radius: 4px;
    font-size: 1em;
    width: 95%;
}

#caption-tags-modal input::placeholder,
#caption-tags-modal textarea::placeholder {
    color: #c9bec5;
}

#modal-submit {
    background-color: #F4E6F0;
    border: none;
    color: #7B6A73;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
}

#modal-submit:hover {
    background-color: #DFBCD4;
    color: #ffffff;
}

#modal-close {
    background-color: #ECE4E4;
    color: #482738;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
}

#modal-close:hover {
    background-color: #482738;
    color: #ffffff;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* translucent */
    z-index: 9900;
}