{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Flaire</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <li id="sidebar-toggle">
                <img src="{% static 'img/menu.png' %}" alt="Menu" style="height: 24px">
                <a href="#">FLAIRE</a>
            </li>
            <li>
                <img src="{% static 'img/explore.png' %}" alt="Menu" style="height: 24px">
                <a href="{% url 'social:explore'%}">Explore</a>
            </li>
            <li>
                <img src="{% static 'img/following.png' %}" alt="Menu" style="height: 24px">
                <a href="{% url 'social:following'%}">Following</a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <nav class="navbar">
            <li class="{% if active_tab == 'wishlist'%}active{% endif %}">
                <a href="{% url 'user_management:wishlist' %}">wishlist</a>
            </li>
            <li class="{% if active_tab == 'showrooms'%}active{% endif %}">
                <a href="{% url 'showrooms:showrooms' %}">showrooms</a>
            </li>
            <li class="{% if active_tab == 'closet'%}active{% endif %}">
                <a href="{% url 'closet:closet' %}">closet</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <form method="POST" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </li>
            <li class="{% if active_tab == 'profile'%}active{% endif %}">
                <a href="{% url 'user_management:profile' %}">
                    <img src="{% static 'img/user-icon.png' %}" alt="User Profile" style="height: 24px">
                </a>
            </li>
            {% else %}
            {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' %}
            <li>
                <a href="{% url 'user_management:login' %}">login</a>
            </li>
            {% endif %}
            {% endif %}
        </nav>

        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block scripts %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggle = document.getElementById('sidebar-toggle');
            const body = document.body;

            toggle.addEventListener('click', function (e) {
                e.preventDefault();  // prevent jump from href="#"
                body.classList.toggle('sidebar-hidden');
            });
        });
    </script>
</body>


</html>
