{% extends "base.html" %}
{% load static %}

{% block title %}Home - Flaire{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/user_management/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-wrapper">
  <div class="home-hero">
    <h1 class="title"> Welcome to Flaire </h1>
    <p class="subtitle">Curate your style. Flaunt your flair.</p>
    <a href="{% url 'closet:closet' %}" class="cta-button">Go to Closet</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/user_management/home.js' %}"></script>
{% endblock %}
