{% extends "base.html" %}
{% load static %}
{% block title %}Showrooms{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/showrooms/owned-showrooms.css' %}">
{% endblock %}

{% block content %}
<div id="showroom-grid" class="grid-container">
  <div class="thumbnail pagination-arrow">
    <button id="prev-btn" class="arrow-button" disabled>&#8592;</button>
  </div>
  
  <div class="thumbnail pagination-arrow">
    <button id="next-btn" class="arrow-button">&#8594;</button>
  </div>
</div>

<div id="create-modal" class="modal fade">
  <div id="dialog" class="modal-dialog modal-dialog-centered" hx-target="this" hx-swap="outerHTML"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/showrooms/owned-showrooms.js' %}"></script>
{% endblock %}