{% extends "base.html" %}
{% load static %}
{% block title %}Showrooms{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/showrooms/owned-showrooms.css' %}">
{% endblock %}

{% block content %}
<div id="showroom-grid" class="grid-container"></div>
<div class="pagination-controls">
  <button id="prev-btn" disabled>Previous</button>
  <button id="next-btn">Next</button>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/showrooms/owned-showrooms.js' %}"></script>
{% endblock %}