{% extends "base.html" %}
{% load static %}
{% block title %}Showroom Title{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/showrooms/showroom-detail.css' %}">
{% endblock %}


{% block content %}
<div class="showroom-header">
    <h3 class = "showroom-title" id = "showroom-title">{{ showroom.title }}</h3>
    <input type="text" id="edit-title" style="display: none;" />
    <p class = "fit-n-followers">
        fits: <span id = "outfit_count">{{ outfit_count }}</span>
        <label style="margin-left: 27px;">
            followers:  <span id = "follower-count">{{ follower_count }}</span>
        </label>
        {% if showroom.tags.all %}
        <p class = "tags">
            <span class = > </span>Tags:
            {% for tag in showroom.tags.all %}
            {{ tag.name }}
            {% endfor %}
        </p>
        {% endif %}
    </p>
    <div id = "user-access">
        <div id = "user-icons">
            <img class src = "{{ showroom.owner.profile_picture.url }}"/>
            {% for collaborator in accepted_collaborators %}
            <img class src = "{{ collaborator.collaborator.profile_picture.url }}"/>
            {% endfor %}
        </div>
        <div id = "user-actions">
            {% if show_follow_button %}
                {% if if_invited %}
                <button type="button" id = "accept-button" data-state="accept">
                    Accept
                </button>
                {% else %}
                <button type="button" id = "follow-button" data-state="follow">
                    Follow
                </button>
                {% endif %}
            {% endif %}
            {% if show_edit_button %}
            <button type="button" id = "edit-button" data-state="edit">
                Edit
            </button>
            {% endif %}
            {% if if_following %}
            <button type="button" id = "unfollow-button" data-state="unfollow">
                Unfollow
            </button>
            {% endif %}
        </div>
    </div>
</div>

<div id="outfits-grid" data-showroom-id ="{{ showroom.id }}">
</div>

<button id ="add-outfits-btn-dt" class = "add-outfits-btn-dt">+</button>

<div id = "create-sr-add-outfits" class="modal">
    <span class="close">&times;</span>
    <h2 id = "add-outfit-modal-header" style="text-align: center; margin-top: 30px;">Add outfits</h2>
    <hr class="custom-line">
    <div class="add-outfits-sr-content" id="add-outfits-sr-content">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/showrooms/showroom-outfits.js' %}"></script>
{% endblock %}
