{% extends "base.html" %}
{% load static %}
{% block title %}Create Showroom{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/showrooms/create-showrooms.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Modal -->

<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Create</button>
</form>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/showrooms/create-showrooms.js' %}"></script>

<script>
    $(document).ready(function() {
      $('.select2').select2({
        placeholder: "Search and select collaborators",
        width: '45%',
      });
    });
</script>
{% endblock %}