{% extends 'base.html' %}
{% load static %}

{% block title %} Log-In {% endblock %}
{% block style %} 
<link rel = "stylesheet" href = "../css/flight_schedules.css">
{% endblock %}

{% block content %}

<nav>
    <h3>FLAIRE</h3>
</nav>

<h2>Welcome to Flaire!</h2>

<div class = "form-container">
    <form method="POST">
        {% csrf_token %}
        
        <div class="input-container">
            <i class="fa fa-user"></i> 
            {{ form.email }}
        </div>
    
        <div class="input-container">
            <i class="fa fa-user"></i> 
            {{ form.username }}
        </div>
    
        <div class="input-container">
            <i class="fa fa-user"></i> 
            {{ form.password1 }}
        </div>
    
        <button type="submit">sign up</button>
    </form>
</div>

<p>already have an account? <a>log in</a></p>

{% endblock %}