#main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#user-info-column {
    flex: 4;
    height: 500px;
    border-style: solid;
    border-color: #F4e6F0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#widget-column {
    /* width: 700px; */
    flex: 7;
    /* min-width: 525px; */
    height: 500px;
    border-style: solid;
    border-color: #F4e6F0;
    text-align: center;
    flex-shrink: 0;
}

.profile-pic {
    height: 100px;
}