@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Playfair+Display+SC&display=swap');

html,
body.for-specific {
    background: #ECE4E4;
    overflow-x: hidden;
}

body {
    height: 100vh;
}

.form-container {
    margin-left: 25vw;
    margin-top: 10px;
    width: 50vw;
    height: 55vh;
    background-color: #FDF9F6;
    border-radius: 11px;
    position: relative;

    display: grid;
    grid-template-columns: 30vw 20vw;
}

.mannequin-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mannequin-img {
    width: 9.5vw;
    max-width: 120px;
}

.signup-form,
.login-form {
    margin-top: 50px;
}

.input-container {
    position: relative;
    margin-left: 75px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 50px;
    background: rgba(236, 228, 228, 0.60);
}

.input-container img {
    position: absolute;
    left: 15px;
    width: 24px;
}

.input-container input {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 50px;
    background: transparent;
    color: #975683;
    padding-left: 45px;
    font-size: 1rem;
    outline: none;
    box-shadow: none;
}

.signup-button,
.login-button {
    margin-left: calc(75px + 27.5%);
    width: 25%;
    height: 45px;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    background: #F4E6F0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signup-button:hover,
.login-button:hover {
    background: #e0c8da;
}

.has-account {
    /* margin-top: 40px; */
    position: absolute;
    bottom: 10px;
    margin-left: 125px;
    font-size: 15px;
    color: #975683;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.signup-to-login {
    color: #482738;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.welcome-heading {
    margin-top: 80px;
    color: #482738;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.welcome-back {
    margin-top: 80px;
    color: #482738;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.flaire {
    color: #975683;
    font-size: 30px;
    font-style: normal;
}

.exclaim {
    font-style: normal;
}

.warning {
    margin-top: 40px;
    margin-left: 75px;
    font-size: 15px;
    color: #d32a2a;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.form-errors {
    margin-top: 10px;
}

.text-danger {
    margin-left: 100px;
    font-size: 15px;
    color: #d32a2a;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}