{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock %}

{% block content %}
<div class="tab-bar">
  <button id="explore-outfits-tab" class="tab">Outfits</button>
  <button id="explore-showrooms-tab" class="tab">Showrooms</button>
</div>

<div id="explore-grid" class="grid-container"></div>

{% include "modals/outfit_modal.html" %}
<script src="{% static 'js/explore.js' %}"></script>
<script src="{% static 'js/outfit-detail.js' %}"></script>
{% endblock %}