{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/following.css' %}">
{% endblock %}

{% block content %}
<div class="tab-bar">
  <button id="following-outfits-tab" class="tab">Outfits</button>
  <button id="following-showrooms-tab" class="tab">Showrooms</button>
</div>

<div id="following-grid" class="grid-container" id="posts-grid-container"></div>

{% include "modals/outfit_modal.html" %}
<script src="{% static 'js/following.js' %}"></script>
<script src="{% static 'js/outfit-detail.js' %}"></script>
{% endblock %}
