{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/outfit-detail.css' %}">
{% endblock %}

<div id="modal-overlay" class="modal-overlay"></div>
<div id="outfit-modal" class="modal hidden" data-outfit-id="">
  <button class="close-btn">✕</button>
  <div class="modal-content">
    <img id="modal-image" class="modal-img" src="" alt="Outfit">
    <div class="modal-details">
      <p id="modal-caption"></p>
      <p id="modal-owner"></p>
      <p id="modal-tags" class="tags"></p>

      <div class="modal-tabs">
        <button class="mini-tab" data-tab="list">Items</button>
        <button class="mini-tab" data-tab="comments">Comments</button>
        <button class="mini-tab" data-tab="likes">Likes</button>
      </div>

      <div id="modal-listed-items" class="tab-section hidden"></div>
      <div id="modal-comments" class="tab-section hidden">
        <form id="comment-form">
          {% csrf_token %}
          <input type="text" id="comment-input" placeholder="Add a comment..." />
          <button type="submit">Post</button>
        </form>
        <div id="modal-comments-list"></div>
      </div>
    </div>
  </div>
</div>
